@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    color: #f1f1f1;
    font-family: "Reddit Mono", monospace;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 500ms ease-in-out;
}

.box:hover{
    transform: scale(1.03);
    border-color: purple;
    background-image: linear-gradient(to right, #c94cb890, #df7d3794);
}

.box h1 {
    background-image: linear-gradient(to right, #c94cb9, #df7c37);
    -webkit-background-clip: text;
    color: transparent;
}

.grid-services {
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    grid-gap: 20px;
}

.read {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width:900px) {
    .grid-services{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

}