@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.footer {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    color: #f1f1f1;
    font-family: "Reddit Mono", monospace;
}

.footer img {
    width: 80px;
    object-fit: cover;
}

.footer-top {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.text-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.footer-form input {
    width: 300px;
    border-radius: 40px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    align-self: center;
}

.footer-form button {
    width: 180px;
    border-radius: 40px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    align-self: center;

}

.line-footer {
    border: 1x solid #f1f1f1;
    background-color: #f1f1f1;
    width: 78rem;
    height: 1px;
    border-radius: 50px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 29rem;
}

.footer-bottom ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-left p {
    width: 600px;
}

@media screen and (max-width:900px) {
    .footer-form input {
        height: auto;
    }

    .text-left{
        align-items: center;
    }

    .footer-form button {
        height: auto;
    }

    .footer {
        text-align: center;
    }

    .footer {
        padding: 5px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .line-footer {
        display: none;
    }

    .footer-form,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        width: auto;
    }

}